.nav_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.logout-button {
    float: right;
    background-color: #ff0000; /* red background color */
    color: #fff; /* white text color */
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    justify-content: space-between;
    margin-left: 650px;
  }